.nav-container{
  position: fixed;
  background: var(--grey-bg-dark);
  width: 100%;
  padding: 10px 24px;
}

.container-md{
  padding-top: 60px;
  padding-bottom: 60px;
  height: 100vh !important;
  flex-direction: column;

  .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 50px;
      margin: 0 10px;
    }

    h1{
      margin-bottom: 0;
    }
  }

  h1{
    font-size: 20pt;
    text-align: center;
  }

  .about{

    .large-txt{
      text-align: justify;
    }

    .git-link{
      text-align: center;

      a{
        background-image: url("../../assets/icons/github.png");
        background-size: 18px;
        background-position-y: 2px;
        padding-left: 22px;

        &:hover{
          background-image: url("../../assets/icons-active/github.png");
        }
      }
    }
  }

  .credits{
    margin-top: 100px;
    p{
      text-align: center;

      a{
        text-decoration: none !important;

        img{
          width: 150px;
        }

        span{
          text-decoration: underline !important;
        }
      }
    }
  }
}



