:host {
  display: flex;
  padding: 10px;
  align-items: center;
}

img {
  width: 40px;
  margin-left: 14px;
}

::ng-deep .mdc-snackbar__surface {
  background-color: var(--grey-bg-light) !important;
}

::ng-deep .mat-mdc-snack-bar-label{
  color: var(--black) !important;
}

::ng-deep .mat-mdc-snack-bar-action{
  color: var(--black) !important;
  background: none !important;
  border: none !important;
  text-decoration: underline !important;

  &:hover{
    color: var(--blue-active) !important;
  }
}
