<div>
  <mat-sidenav-container hasBackdrop=false>
    <mat-sidenav #sidenav
                 [class]="isMenuOpened ? 'sidenav-full' : ''"
                 mode="side" position="end" opened class="col-3">
      <app-categories *ngIf="activeTab == MenuOptions.Categories"></app-categories>
      <app-filters *ngIf="activeTab == MenuOptions.Filters"></app-filters>
      <app-lists *ngIf="activeTab == MenuOptions.Lists && isUserAuthenticated"></app-lists>
    </mat-sidenav>

    <mat-sidenav-content [class]="isMenuOpened ? 'hide-table-parent' : ''">
      <app-table [class]="isMenuOpened ? 'hide-table' : ''"></app-table>
      <app-menu></app-menu>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>


