.mat-drawer:not(.mat-drawer-side) {
  box-shadow: none !important;
}

.mat-drawer-content {
  display: flex !important;
  height: 100vh;
  align-items: flex-start;
}

.mat-drawer-side.mat-drawer-end {
  border: none !important;
}

app-table {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 100vh !important;
  min-height: 100vh !important;
  overflow: hidden;
}

app-menu {
  display: contents;
}

.col-3 {
  width: 25% !important;
}

@media only screen and (max-width: 600px) {
  .hide-table {
    display: none;
  }
  .hide-table-parent {
    overflow: hidden;
  }
  .sidenav-full {
    width: calc(100% - 55px);
  }
}
