.list-selected{
  background-color: var(--grey-bg-light);
}
::ng-deep .mat-ripple-element {
  background-color: var(--grey-bg-light) !important;
  z-index: 1 !important;
}
::ng-deep .mat-mdc-list-item-interactive:focus::before {
  opacity: 0 !important;
}
::ng-deep button span.mdc-list-item__content{
  z-index: 2 !important;
}
.lists{
  .search-result-img{
    width: 20px;
    height: 20px;
  }
  ::ng-deep .mat-mdc-list-item-unscoped-content{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
  }
}


