:root {
  --black: #000000;
  --red: #FF0000;
  --red-highlight: #DC3545;
  --red-bg-light: #F8D7DA;
  --green-highlight: #198754;
  --green-bg-light: #D1E7DD;
  --blue-active: #0D6EFD;
  --blue-bg-light: #6BA5FF;
  --grey-bg-light: #E8EDFC;
  --grey-bg-dark: #DFE0E3;
  --grey-bg-dark2: #C0C1C4;
  --grey-bg-body: #F1F2F6;
  --grey-table-even: #fAfAfA;
  --grey-text: #AAAAAA;
}
