//COLORS===============================
@import 'css_values.scss';

//HTML, BODY============================
html, body, .flex-container{
  height: 100vh;
}
body{
  background-color: var(--grey-bg-body);
  margin: 0;
  font-family: Segoe UI, serif;
}

//DIALOG WINDOW=========================
.mat-mdc-dialog-title{
  font-size: 12pt !important;
  img{
    width: 26px;
    margin-right: 10px;
    margin-top: -3px;
  }
}
.mat-mdc-dialog-content{
  .dialog-highlight-black{ color: var(--black); }
  .dialog-highlight-red{ color: var(--red); }
}
.mat-mdc-dialog-actions{
  justify-content: end !important;
  .mat-mdc-button{ flex-basis: 100px; }
  &:hover .mat-mdc-button-persistent-ripple, .mat-mdc-button-ripple {
    display: none;
  }
  .confirm-btn.mat-mdc-button:hover{
    color: var(--green-highlight) !important;
    background-color: var(--green-bg-light) !important;
  }
  .cancel-btn.mat-mdc-button:hover{
    color: var(--red-highlight) !important;
    background-color: var(--red-bg-light) !important;
  }
}

//LINKS================================
a, .fake-link{
  color: var(--black);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
  background-repeat: no-repeat;
  &:hover{
    color: var(--blue-active);
  }

  &.back-link{
    line-height: 36px;
    font-size: 18px;
    display: block;
    height: 40px;
    background-image: url("assets/icons/back.png");
    background-size: contain;
    background-position: left;
    padding-left: 50px;

    &:hover{
      background-image: url("assets/icons-active/back.png");
    }
  }
}

//FOOTER===============================
footer{
  width: 100%;
  text-align: center;
  position: fixed;
  background-color: var(--grey-bg-dark);
  bottom: 0;

  p{
    margin-top: 1rem;
    margin-bottom: 1rem;

    a{
      background-image: url("assets/icons/github.png");
      background-size: 18px;
      background-position-y: 2px;
      padding-left: 22px;

      &:hover{
        background-image: url("assets/icons-active/github.png");
      }
    }
  }
}

//BRICK COLOR ELEMENTS=================
.color-div-small{
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;

  .color-div-trans{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18px 18px;
    border-color: transparent transparent rgba(255, 255, 255, 0.3) transparent;
  }
}
.color-div-large{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 1px;
  .color-div-trans{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent rgba(255, 255, 255, 0.3) transparent;
  }
}

//PROGRESS BAR==========================
.mdc-linear-progress__bar-inner {
  border-color: var(--blue-active) !important;
}
.mdc-linear-progress__buffer {
  background: var(--grey-bg-light) !important;
}

//CSS SPINNER==========================
.loading{
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  p{
    margin-top: 30px;
    color: var(--grey-text);
  }
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: var(--blue-active);
  font-size: 8px;
  margin: 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

//RESPONSIVE LAYOUT ADJUSTMENTS==============
.visible-750{
  display: none;
}
@media only screen and (max-width: 750px) {
  .hidden-750{
    display: none;
  }
  .visible-750{
    display: unset;
  }
}
@media only screen and (max-width: 650px) {
  .hidden-650{
    display: none;
  }
}
